    {% extends 'template.html.twig' %}

    {% block body %}
        {% include 'fragments/today.html.twig' %}
        <div class="alert alert-info">
            <a href="{{path('app_tab',{nb : 7})}}">Starts table</a>
        </div>
        <table class="table">
            <tr class="table-active">
                <td>nom</td>
                <td>prenom</td>
                <td>age</td>
                <td>message</td>
            </tr>
            {% for user in users %}
                <tr class="table-{% if loop.index is odd %}danger{% else %}warning{% endif %}">
                    <td>{{user.name}}</td>
                    <td>{{user.surname}}</td>
                    <td>{{user.age}}</td>
                    <td>
                        {{render(controller('App\\Controller\\FirstController::sayHello',{name: user.name,surname: user.surname}))}}
                    
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endblock %}

    {% block pagetitle %}
        Users
    {% endblock %}

    {% block title %}
        Users
    {% endblock %}
